---
import IframeViewer from './components/_iframe-viewer';

const url = Astro.url.searchParams.get('url') || '';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js" type="text/javascript"></script>
    <title>URL to IFrame</title>
  </head>
  <body>
    <div class="flex flex-col page">
      <IframeViewer client:load initialUrl={url} />
    </div>
  </body>
</html>


<style is:global>
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.flex-1{
  flex:1
}
.page{
  height: 100%;
  background-color: #ddd;
}
.form {
  gap: 1rem;
  padding: 1rem 3rem;
  display: flex;
}
.form > * {
  padding: 0.25rem 0.5rem;
}

.form > button {
  width: 100px;
}
</style>